body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
}


#calculator-container {
    display: flex;
    flex-direction: column;
    border: 4px solid grey;
    padding: 5px;
    background-color: grey;
    
}

#display {
    background-color: lightblue;
    text-align: right;
    overflow-x: scroll; 
    overflow-y:hidden;
    
    height: 100px;
    max-width: 423px;
    font-size: 103px;
    padding: 5px;
    border: 5px solid black;


}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: lightblue;
    border: 4px solid black;
    
}

#non-operation-buttons,#operation-buttons {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    height: auto;
    width: 325px;
}
#operation-buttons {
    width: 105px;
}
#non-operation-buttons {
    width: 325px;
}


#calculator-button {
    font-size: 50px;
    width: 105px;
    height: 105px;
    text-align: center;
}
#calculator-button.zero {
    width: 215px;
}

.selected {
    background-color: red;
}

